@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.font-noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "width" 100;
}

body{
    margin: 0px;
    padding: 0px;
}


/*  sharing style */

.display-flex {
    display: flex;
}

.font-gray {
    color: #8987A1;
}

.font-black {
    color: #000000;
}


.font-orange {
    color: #E95A08;
}


/* nav section style */

.navbar,
.banner,
section {
    max-width: 1170px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-right: 30px;
}

.logo {
    max-width: 100%;
    margin: 30px;
}

#home {
    font-weight: 600;
    color: #252432;
}

#cart {
    padding-left: 5px;
}

.shop-cart {
    align-items: center;
}

.nav-links,
.nav-cart {
    list-style: none;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
}


/* banner section style */

.banner {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 150px;
    width: 100%;
}

.banner-info{

}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
    width: 400px;
}

.banner-img img {
    max-width: 100%;
}

/* Plants Section style */

.plant-section {
    text-align: center;
    margin-top: 150px;
}

.plant-title {
    font-weight: 700;
    font-size: 3.25rem;
    margin: 0px;
}

.plant-discription {
    font-size: 1.75rem;
    margin: 10px 50px;
}


.flower-name {
    font-weight: 400;
    font-size: 1.50rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.flower-price {
    font-weight: 600;
    font-size: 1.50rem;
    margin-bottom: 10px;
    margin-top: 0px;
}

.btn-primary {
    color: #ffffff;
    background-color: #E95A08;
    border: none;
    width: 272px;
    height: 50px;
}

.card img {
    width: 100%;
}

.shop-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
}


/* Plant lover section */

.plant-lover {
    margin-top: 150px;
}

.plant-lover-container {
    gap: 75px;
}


.plant-img {
    position: relative;
    width: fit-content;
}


.trusted-badge {
    position: absolute;
    top: -125px;
    left: 355px;
    width: 280px;
    height: 280px;
}

.plant-lover-title {
    font-weight: 700;
    font-size: 3.50rem;
    margin: 0px 10px;
}

.plant-lover-info p {
    font-weight: 300;
    font-size: 1.75rem;
    margin: 15px 5px;
}


/* plants deal style */

.deals-info {
    margin-top: 150px;
}

.deals-title {
    font-weight: 700;
    font-size: 3.50rem;
    text-align: center;
    margin: 10px;
}

.deals-descrip {
    font-weight: 400;
    font-size: 1.75rem;
    text-align: center;
}


.deals-card {
    margin-top: 150px;
    gap: 20px;
}


.bloom-plant {
    background-image: url(image/deal-bloom.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width:100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 14px;
    margin-bottom: 20px;
}


.Ana-plant {
    background-image: url(image/deal-ana.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 360px;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 14px;


}

.Zoba-plant {
    background-image: url(image/deal-zabo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 753px;
    height: 423px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 14px;
}

.bloom-plant h3,
.Ana-plant h3 {
    font-weight: 700;
    font-size: 1.75rem;
    color: #ffffff;
    margin: 5px;
}

.Zoba-plant h3 {
    font-weight: 700;
    font-size: 2.75rem;
    color: #ffffff;
    margin: 5px;

}

.bloom-plant a,
.Ana-plant a {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}

.Zoba-plant a {
    font-weight: 400;
    font-size: 2rem;
    color: #ffffff;
}


/* join section */

.join-section{
    width: 100vp;
    background-image: url(image/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 0px;
    margin-right: 0px;

}

main > .join-section {
    max-width: none;
}

.join-container{
    width: 830px;
    text-align: center;
    padding: 40px;

}

.join-container h1{
    font-weight: 700;
    font-size: 3.25rem;
    color: #ffffff;
    margin-bottom: 30px;
    
}

.join-box{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.join-box input{
    background-color: #fff;
    width: 70%;
    border: none;
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 4px;
}
.join-box button{
    background-color:#E95A08;
    padding: 26px 50px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}


/* footer section */

footer{
    max-width: 1440px;
    margin: 0 auto;
}


.footer-section{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;

}


.footer-logo{
    width: 360px;
}

.footer-logo img{
    max-width: 100%;
}
.footer-logo p{
    font-weight: 400;
    font-size: 1.75rem;
}


.footer-links ul{
    padding: 0px;
    margin-top: 0px;
}

.footer-links li{
    list-style: none;
    margin-bottom: 35px;
    padding: 0;
    
}
.footer-links a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.75rem;
    color: gray;
}


.social-media img {

    margin-right:25px;
}




/* responsive media query */

@media screen and (max-width:576px) {
    .nav-links {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .plant-lover-container,
    .deals-card ,
    .footer-section{
        flex-direction: column;
    }

    .shop-card {
        grid-template-columns: repeat(2, 1fr);

    }

    .trusted-badge {
        display: none;
    }

    .flower-store-img {
        width: 100%;
    }


    .bloom-plant,
    .Ana-plant,
    .Zoba-plant{
        width: 100%;
        height: 361px;
    }

    .Zoba-plant h3 {
        font-weight: 700;
        font-size: 1.75rem;
        margin: 5px;
    }

    .Zoba-plant a {
        font-weight: 400;
        font-size: 1rem;
        color: #ffffff;
    }

    .join-container input{
        padding: 8px 15px;
    }
    .join-box button{
        padding: 15px 20px;
    }

    .footer-section{
        margin-left:25px ;
    }

    .social-media img{
        margin-top: 20px;
    }

    


}